.navbar {
  height: 55px;
  background-color: #F55A5A;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-title {
  color: #FFFF;
  margin-left: 10px;
}


.travel-cards {
  margin: 55px 55px;
}

.card {
  display: flex;
  margin-bottom: 50px;
}

.card-image {
  max-width: 140px;
  margin-right: 20px;
  border-radius:5px;
}

.card-title {
  font-size: 25px;
}

.card-date {
  font-size: 11px;
  font-weight: bold;
}

.card-country {
  font-size: 11px;
  font-weight: regular;
  text-transform: uppercase;
  letter-spacing: 6%;
  margin-left: 5px;
}

.card-location {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.card-google {
  margin-left: 20px;
  font-size: 11px;
}

.card-description {
  font-weight: regular;
}